
load("@rules_python//python:defs.bzl", "py_library", "py_test")
load("@rules_python//python:packaging.bzl", "py_wheel")
load("//src/libraries/client_src/client:variables.bzl", "CLIENT_REQUIRES")
load("//src/libraries/interfaces_src/interfaces:variables.bzl", "INTERFACES_REQUIRES")
load("//src/libraries/common_src/common:variables.bzl", "COMMON_REQUIRES")
load("//src/libraries/ingestion_src/ingestion:variables.bzl", "INGESTION_REQUIRES")
load("//src/platform/observability_src/observability:variables.bzl", "OBSERVABILITY_REQUIRES")
load("//src/libraries/business_core_src/business_core:variables.bzl", "BUSINESS_CORE_REQUIRES")
load("//src/{{ .destination_directory }}/{{ .input_project_name }}_proj/{{ .input_src_name }}_src/{{template `project_name_alphanumeric_underscore` .}}:variables.bzl", "{{template `project_name_alphanumeric_underscore` .}}_REQUIRES")


package(default_visibility = ["//visibility:public"])

py_library(
    name = "client",
    srcs = ["//src/libraries/client_src/client:client_lib"]
)

py_library(
    name = "interfaces",
    srcs = ["//src/libraries/interfaces_src/interfaces:interfaces_lib"]
)

py_library(
    name = "common",
    srcs = ["//src/libraries/common_src/common:common_lib"]
)

py_library(
    name = "ingestion",
    srcs = ["//src/libraries/ingestion_src/ingestion:ingestion_lib"]
)

py_library(
    name = "business_core",
    srcs = ["//src/libraries/business_core_src/business_core:business_core_lib"]
)

py_library(
    name = "observability",
    srcs = ["//src/platform/observability_src/observability:observability"]
)

py_library(
    name = "{{ .input_src_name }}_src",
    srcs = glob([
        "**/*.py"
    ])
)



py_test(
    name = "unit_tests",
    srcs = glob(["tests/unit/*.py"]),
    main = "tests/unit/run.py",
    data = [
        "client",
        "interfaces",
        "common",
        "ingestion",
        "business_core",
        "billing_src",
    ],
)

py_test(
    name = "integration_tests",
    srcs = glob(["tests/integration/*.py"]),
    main = "tests/integration/run.py",
    data = [
        "client",
        "common",
        "interfaces",
        "ingestion",
        "business_core",
        "{{ .input_src_name }}_src",
    ],
)

test_suite(
    name = "all_tests",
    tests = [
        "unit_tests",
        "integration_tests",
    ],
)

filegroup(
    name = "resources",
    srcs = glob(
        [
            "**/*.json",
            "**/*.sql",
            "**/*.yaml",
        ]
    ),
)

py_wheel(
    name = "{{template `project_name_alphanumeric_underscore` .}}",
    deps = [
        ":{{template `project_name_alphanumeric_underscore` .}}_src",
        ":client",
        ":common",
        ":interfaces",
        ":ingestion",
        ":business_core",
        ":resources",
        ":observability"

    ],
    distribution = "{{template `project_name_alphanumeric_underscore` .}}",
    python_tag = "py3",
    version = "0.0.0",
    strip_path_prefixes = [
        "src/libraries/client_src",
        "src/libraries/common_src",
        "src/libraries/business_core_src",
        "src/libraries/interfaces_src",
        "src/libraries/ingestion_src",
        "src/platform/observability_src",
        "src/projects/{{ .input_project_name }}_proj/{{template `project_name_alphanumeric_underscore` .}}_src",
    ],
    requires = {{template `project_name_alphanumeric_underscore` .}}_REQUIRES + CLIENT_REQUIRES + COMMON_REQUIRES + INTERFACES_REQUIRES + INGESTION_REQUIRES  + OBSERVABILITY_REQUIRES + BUSINESS_CORE_REQUIRES
)