bundle:
  name: {{ .input_src_name }}
variables:
  databricks_principal:
    description: Principal of Databricks Job owner
    default: ""

workspace:
  root_path: /Users/${workspace.current_user.userName}/.bundle/${bundle.name}/my-envs/${bundle.target}


include:
  # Resources folder contains ML artifact resources for the ML project that defines model and experiment
  # And workflows resources for the ML project including model training -> validation -> deployment,
  #- ./job.yml

#wheel for jobs
artifacts:
  {{ .input_src_name }}:
    type: whl
    build:

# Deployment Target specific values for workspace
targets:
  dev:
    mode: development
    default: true
    variables:
      environment: test-env
    workspace:
      host: 
    artifacts:
      {{ .input_src_name }}:
        type: whl
  test:
    variables:
      environment: test-env
    workspace:
      host: 
  qa:
    git:
      branch: main
    variables:
      environment: qa-env
    workspace:
      host: 
  prod:
    mode: production
    git:
      branch: main
    variables:
      environment: prod-env
    workspace:
      host: 