[project]
name = "{{template `project_name_alphanumeric_underscore` .}}"
version = "0.1.0"
description = "{{template `project_name_alphanumeric_underscore` .}} project"
dependencies = []
requires-python = "~=3.11"
dynamic = ["una"]  

[tool.uv.sources]
# client = { workspace = true }

[build-system]
requires = ["hatchling", "hatch-una"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.hooks.una-build]
[tool.hatch.metadata.hooks.una-meta]

[tool.pyright]
venvPath = "../.."
venv = ".venv"
basic = ["**/*.py"]]