# {{template `project_name_alphanumeric_underscore` .}}

This directory contains an ML project based on the MLOps Stacks template. The project is a starting point for
defining a production-grade ML pipeline for automated retraining and batch inference of an ML model on tabular data.


## Code structure
### If not following databricks type databricks.yaml and resouces are not needed
contained in the following files:


